body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7fafc;
}

.login-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f4f4f4;
}

.form {
    width: 300px; 
    display: grid;
    gap: 1rem;
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
                0px 4px 6px -2px rgba(0, 0, 0, 0.05);
}

label {
    color: #333;
    font-size: 1rem;
    font-weight: 500;
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    color: #333;
    transition: border-color 0.3s;
}

input[type="email"]:focus, input[type="password"]:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.3);
}

button {
    padding: 0.5rem 1rem;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.3);
}

.login-btns-container {
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
}

@media (max-width: 768px) {
    .form {
        width: 100%;
        padding: 1rem;
    }
}

@media (max-width: 480px) {
    .form {
        padding: 0.5rem;
    }
    label {
        font-size: 0.9rem;
    }
    input[type="email"], input[type="password"] {
        font-size: 0.9rem;
    }
}
